<section class="relative overflow-hidden">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
      <div>
        <div>
          <span
            class="text-sm uppercase font-medium tracking-wide text-blue-600"
            >Spaziobianco</span
          >
          <h2
            class="text-purple-900 font-semibold mt-6 text-4xl lg:text-6xl tracking-tight">
            Email for developers and banking institutions
          </h2>
          <p class="text-slate-500 mt-5 lg:text-balance">
            Spaziobianco. is a beautifully design UI Kit that allows you to put
            togheter pages from different categories and customize them to your
            needs to create a landing page or a whole website in hours, not
            months.
          </p>
        </div>
        <div class="mt-10">
          <a
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
            title="link to your page"
            aria-label="your label"
            href="/system/overview">
            Explor all pages
          </a>
        </div>
      </div>

      <div class="lg:mt-0 mt-12 lg:ml-auto">
        <div class="max-w-[366px]">
          <img
            class="drop-shadow-2xl rotate-6 hover:rotate-0 duration-300"
            src="/images/creditcardTwo.png"
            alt="thumbnail"
          />
          <img
            src="/images/creditcard.png"
            alt="thumbnail"
            class="-mt-12 lg:-ml-24 -rotate-6 hover:rotate-0 duration-300 drop-shadow-2xl"
          /><img
            src="/images/creditcardThree.png"
            alt="thumbnail"
            class="-mt-12 lg:-mr-24 rotate-6 drop-shadow-2xl hover:rotate-0 duration-300"
          />
        </div>
      </div>
    </div>
  </div>
</section>
