<section class="relative overflow-hidden border-b bg-white">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 lg:py-24 items-center relative">
      <div
        class="lg:mx-auto lg:max-w-7xl lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="lg:pr-24 md:pr-12">
          <span class="text-sm uppercase font-medium tracking-wide text-blue-600 "
            >About Us</span
          >
          <h2
            class="text-purple-900 font-semibold mt-6 text-4xl lg:text-5xl tracking-tight">
            The Best Electrician Jobs
          </h2>
          <p class="text-slate-500 mt-5 lg:text-pretty">
            Commercial, Residential, and Industrial Electricians. Fire Alarm, Controls, Security, and Audio/Visual Jobs.
  
          </p>
          <div class="mt-10 flex gap-4">
            <a
              class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
              title="link to your page"
              aria-label="your label"
              href="/system/overview">
              View Jobs
            </a>
            <a
              class="text-blue-600 items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-50 hover:bg-blue-100 w-auto"
              title="link to your page" 
              aria-label="your label"
              href="/contact">
              Post a Job
            </a>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0">
          <div
            class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
            <div
              class="ring-1 ring-slate-200 bg-slate-50 rounded-2xl p-3 lg:absolute lg:left-0">
              <img
                class="w-full shadow-xl ring-1 ring-slate-200 rounded-xl lg:h-[30rem] lg:w-auto lg:max-w-none"
                src="/images/el1.jpg"
                alt="Inbox user interface"
              />
            </div>
      
          </div>
        </div>
      </div>
    </div>
  </section>
  