<section>
  <div
    class="mx-auto 2xl:max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 my-12 lg:my-32 items-center">
    <div class="lg:text-center">
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">Header</span>
      </h2>
      <h2
        class="text-purple-900 font-semibold mt-6 text-4xl lg:text-7xl tracking-tight ">
        Spaziobianco is loved all aorund
        <span class="lg:block"> and consistent UI Kit for your SaaS.</span>
      </h2>
    </div>
    <div class="pt-12">
      <div class="mx-auto justify-center">
        <div class="ring-1 ring-slate-300 bg-slate-100 rounded-2xl p-3">
          <img
            class="w-full shadow-xl ring-1 ring-slate-300 rounded-xl"
            src="/images/dashboard.jpg"
            alt="Inbox user interface"
          />
        </div>
      </div>
    </div>
  </div>
</section>
