<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-6 lg:py-24">
    <div
      class="mx-auto relative grid grid-cols-1 items-end gap-y-12 lg:static lg:grid-cols-2">
      <div>
        <span class="text-sm uppercase font-medium tracking-wide text-blue-600"
          >our app</span
        >
        <h2
          class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl">
          Download our app!
        </h2>

        <div class="max-w-xl mt-6">
          <p class="text-slate-500 text-xl">
            Get in touch or create an account.
          </p>
        </div>
      </div>
      <div
        class="mt-10 flex flex-col gap-2 lg:flex-row justify-center  ">
        <a
          class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
          title="link to your page"
          aria-label="your label"
          href="/system/overview">

         Download on Google Play
        </a>
        <a
          class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
          title="link to your page"
          aria-label="your label"
          href="/system/overview">

          Download on the App Store
        </a>
      </div>
    </div>
  </div>
</section>
