<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-6 lg:py-24">
    <div
      class="mx-auto relative grid grid-cols-1 items-end gap-y-12 lg:static lg:grid-cols-2">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">No Code Jobs</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tight  lg:text-5xl mt-6 text-3xl">
          Ready to get started?
        </h2>

        <div class="max-w-xl mt-6">
          <p class="text-slate-500 text-xl">
            Let's find you the perfect No Code Developer.
          </p>
        </div>
      </div>
      <div
        class="mt-10 flex flex-col lg:flex-row justify-center gap-x-6 gap-3 lg:ml-auto">
        <a
          class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600"
          title="About Best Electrician Jobs"
            aria-label="About Best Electrician Jobs" href="/open-positions">
          View Jobs
        </a><a
          class="text-blue-600 items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-100 hover:bg-blue-50"
          title="Post a Job"
            aria-label="Post a Job" href="/post-a-job">
          <span>Post a Job</span>
        </a>
      </div>
    </div>
  </div>
</section>
