<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-6 lg:py-24">
    <div
      class="mx-auto relative grid grid-cols-1 items-end gap-y-12 lg:static lg:grid-cols-2">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">CTA</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tight  lg:text-5xl mt-6 text-3xl">
          Ready to get started?
        </h2>

        <div class="max-w-xl mt-6">
          <p class="text-slate-500 text-xl">
            Get in touch or create an account.
          </p>
        </div>
      </div>
      <div
        class="mt-10 flex flex-col lg:flex-row justify-center gap-x-6 lg:ml-auto">
        <a
          class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600"
          title="link to your page"
            aria-label="your label" href="/system/overview">
          Explora all pages
        </a><a
          class="text-blue-600 items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-100 hover:bg-blue-50"
          title="link to your page"
            aria-label="your label" href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/99afe682-cc70-4d85-b19a-debb968441b1">
          <span>Buy spaziobianco</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="size-4">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
