<section class="bg-slate-50 mt-36">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <p class="text-purple-900 font-semibold">
          Help us build economic infrastructure for the internet
        </p>
        <p class="text-slate-500 text-sm mt-6 lg:text-balance">
          At Best Electrician Jobs, we are dedicated to fostering an inclusive environment that values diverse perspectives, ideas, and backgrounds. We strive to ensure equal employment opportunities for all applicants and employees. Our commitment is to prevent discrimination based on any protected characteristic, including race, color, ancestry, national origin, religion, creed, age, disability (mental and physical), sex, gender, sexual orientation, gender identity, gender expression, medical condition, genetic information, family care or medical leave status, marital status, domestic partner status, and military and veteran status.
          <br />
          <br />
          We uphold all characteristics protected by US federal, state, or local laws, as well as the laws of the country or jurisdiction where you work.
        </p>
  