<section>
  <div class="mx-auto relative px-8 py-24 max-w-7xl lg:h-svh flex flex-col justify-center lg:py-36 lg:px-24 md:px-12">
    <div class="mx-auto text-center">
      <h1
        class="text-purple-900 font-semibold mt-6 text-4xl lg:text-6xl tracking-tight">
        Spazio Bianco is coming soon
      </h1>
      <div class="mx-auto max-w-xl lg:mt-8">
        <p class="text-slate-500">
          Subscribe and we will let you know when we are up and running
        </p>
      </div>
      <form
        class="mt-8 sm:flex max-w-xl mx-auto"
        aria-label="Email Subscription Form">
        <label
          for="email-address"
          class="sr-only"
          >Email address</label
        >
        <input
          id="email-address"
          name="email"
          type="email"
          autocomplete="email"
          required
          class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
          placeholder="Enter your email"
          aria-label="Enter your email address"
        />
        <div class="mt-3 rounded-md sm:mt-0 sm:ml-3 sm:flex-shrink-0">
          <button
            type="submit"
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            Notify me
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
