<section class="relative">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <div>
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">Feature</span>
      </h2>

      <h2 class="text-purple-900 font-semibold mt-6 text-3xl lg:mx-auto">
        Prototype your <span class="lg:block"
          >website with <span>monoqrom</span>
        </span>
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-slate-500">
          Build quicker and don't waste time building your website. Combine
          layouts and customize them as you wish.
        </p>
      </div>
    </div>
    <div
      class="text-sm gap-x-2 gap-y-14 lg:gap-36 grid grid-cols-1 lg:grid-cols-2 mt-12">
      <article>
        <div class="space-y-3">
          <div class="gap-2 lg:inline-flex lg:items-center">
            <div
              class="flex items-center justify-center size-8 text-blue-500 rounded-full bg-slate-100">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z"
                ></path>
              </svg>
            </div>
            <p class="text-xl font-semibold text-black">
              Developer experience
            </p>
          </div>
          <p class="text-base text-slate-500">
            Upswing securities passively index inverse bondholders
            capitalization financial health Moody's debt managed. Receive
            bondholders called capitalization investment grade bonds bills
            management district stocks. Potential funds consulting expenses.
          </p>
        </div>
      </article>
      <article>
        <div class="space-y-3">
          <div class="gap-2 lg:inline-flex lg:items-center">
            <div
              class="flex items-center justify-center size-8 text-blue-500 rounded-full bg-slate-100">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                ></path>
              </svg>
            </div>
            <p class="text-xl font-semibold text-black">Conect your SaaS</p>
          </div>
          <p class="text-base text-slate-500">
            Debt bills lucrative capitalization municipal bonds government
            401k bear bull credit corporate bonds called NYSE finance.
            Managed prices bondholders federal risk NASDAQ hedge fund
            expenses municipal bonds management.
          </p>
        </div>
      </article>
    </div>

  </div>
</section>
