---
// Define the content data
const sections = [
  {
    title: "Connect your SaaS",
    description:
      "Debt bills lucrative capitalization municipal bonds government 401k bear bull credit corporate bonds called NYSE finance.",
  },
  {
    title: "Connect your SaaS",
    description:
      "Debt bills lucrative capitalization municipal bonds government 401k bear bull credit corporate bonds called NYSE finance.",
  },
  {
    title: "Connect your SaaS",
    description:
      "Debt bills lucrative capitalization municipal bonds government 401k bear bull credit corporate bonds called NYSE finance.",
  },
  // Add more sections as needed
];
---

<section>
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <span class="text-sm font-medium tracking-wide text-blue-600 uppercase"
      >UX</span
    >
    <h2
      class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl">
      First-class developer experience
    </h2>
    <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-12 text-slate-500">
      <p>
        Use blockchain technology to create decentralized autonomous
        organizations and manage them with ease. Control and added security.
        With decentralization, users have more control over their data and
        transactions, and the platform is less susceptible.
      </p>

      <p>
        Our platform is built on blockchain technology, which allows for
        decentralized control and added security. With decentralization, users
        have more control over their data and transactions, and the platform is
        less susceptible to malicious attacks.
      </p>
    </div>

    <div class="grid lg:grid-cols-4 grid-cols-2 mt-24 gap-3">
      <div>
        <img
          src="/images/creditcardTwo.png"
          alt="thumbnail"
          class="rounded-2xl drop-shadow-2xl hover:-translate-y-6 duration-300 easy-out transition-all"
        />
        <img
          src="/images/balance.png"
          alt="thumbnail"
          class="drop-shadow-2xl mt-6 hover:-translate-y-6 duration-300 easy-out transition-all"
        />
      </div>
      <div class="lg:col-span-2">
        <img
          src="/images/notification.png"
          alt="thumbnail"
          class="drop-shadow-2x hover:-translate-y-6 duration-300 easy-out transition-all"
        />
        <img
          src="/images/miniNotification.png  "
          alt="thumbnail"
          class="drop-shadow-2xl mt-6 hover:-translate-y-6 duration-300 easy-out transition-all"
        />
        <img
          src="/images/payments.png"
          alt="thumbnail"
          class="drop-shadow-2xl mt-6 lg:hidden block hover:-translate-y-6 duration-300 easy-out transition-all"
        />
      </div>
      <div class="hidden lg:block">
        <img
          src="/images/payments.png"
          alt="thumbnail"
          class="drop-shadow-2xl hover:-translate-y-6 duration-300 easy-out transition-all"
        />
        <img
          src="/images/creditcardTwo.png"
          alt="thumbnail"
          class="rounded-2xl drop-shadow-2xl mt-6 hover:-translate-y-6 duration-300 easy-out transition-all"
        />
      </div>
    </div>
  </div>
</section>
<section class="bg-purple-900 transform skew-y-6 -mt-72 lg:-mt-[26rem]">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
    <div>
      <span class="text-sm font-medium text-slate-300 tracking-wide uppercase"
        >exquisit features</span
      >
      <h2
        class="tracking-tight lg:text-5xl text-white font-semibold mt-6 text-3xl lg:text-balance">
        Develop emails using blockchain technology to create decentralized
        autonomous organizations.
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-white">
          Control and added security. With decentralization, users have more
          control over their data and transactions, and the platform is less
          susceptible.
        </p>
      </div>
    </div>
    <div
      class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3 mt-12">
      {
        sections.map((section) => (
          <div >
            <div class="space-y-3">
              <div>
                <p class="mt-5 font-semibold text-white text-base">
                  {section.title}
                </p>
              </div>
              <p class="text-sm text-white">{section.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
