---
// Define your list items
const features = [
  {
    title: "Global Reach",
    description:
      "Global Job visibility. We rank #1 in Google for the search term 'no code jobs'. Plus, we've been recruiting for 20 years, we know how to reach the right people.",
  },
  {
    title: "Syndicated to Google Jobs",
    description:
      "Get your job listings in front of 150 million job seekers every month via Google Jobs. Remote, on-site, or hybrid.",
  },
  {
    title: "Network of Tech Job Boards",
    description:
      "Extended reach by syndicating your listings to our exclusive job board network.",
  },
  {
    title: "Active No Code Communities",
    description:
      "Leverage our strong presence in the No Code space. We have a dedicated Subreddit 👇 & partner with top creators.",
  },
  {
    title: "Engaged Subreddit Audience",
    description:
      "Tap into a dedicated audience on our growing Subreddit, No Code Jobs.",
  },
  {
    title: "Expert No Code Team",
    description:
      "Benefit from a team of experienced entrepreneurs who have successfully built and exited multiple No Code projects. We can vet candidates for you and have a large pool of developers to choose from.",
  },
  {
    title: "Premium Distribution Partners",
    description:
      "We partner with top job sites like Indeed, ZipRecruiter, and LinkedIn for extended reach.",
  },
  {
    title: "Dedicated Support",
    description:
      "Receive expert assistance from our team to ensure your job listings perform at their best. We will alter your job description and title (with permisison) to ensure we can attract the right developers.",
  },
];

---
<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-24">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div class="lg:pl-24 md:pl-12">
          <span
            class="text-sm uppercase font-medium tracking-wide text-blue-600"
            >No Code Jobs</span
          >
          <h2
            class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl">
            We were destined to create this platform.
          </h2>
          <p class="text-slate-500 mt-8">
            We combine 25 years of technical recruitment experience with a passion for no code development. </p> 
            <p class="text-slate-500 mt-8">Let's face it, hiring great developers without a network is almost impossible. We are here to help.  
          </p>
          <p class="text-slate-500 mt-8">
            Read about what we created to help you source and hire great no code developers from all over the world.
          </p>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0">
        <ul
          role="list"
          class="grid grid-cols-1 gap-12 lg:gap-24 list-none mt-24">
          {
            features.map((item, index) => (
              <li >
                <div>
                  <p class="text-purple-900 font-semibold tracking-tight text-3xl">
                    {item.title}
                  </p>
                </div>
                <div class="mt-2 text-slate-500">{item.description}</div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</section>
