---
// Define your list items
const featuresOne = [
  {
    title: "Tools for all email campaigns",
    description:
      "Optimize your email marketing strategies with tools designed for every type of campaign, enhancing engagement and conversion rates.",
  },
  {
    title: "Ready-to-go email integrations",
    description:
      "Streamline your workflow with prebuilt email integrations, connecting your marketing efforts with ease.",
  },
  {
    title: "Tools for all email campaigns",
    description:
      "Optimize your email marketing strategies with tools designed for every type of campaign, enhancing engagement and conversion rates.",
  },
  {
    title: "Use Shiki for email templates",
    description:
      "Elevate your email designs using Shiki, ensuring your messages stand out with professional-grade templates.",
  },
];
const featuresTwo = [
  {
    title: "Advanced analytics ",
    description:
      "Gain deep insights into your email campaigns' performance with advanced analytics, helping you make data-driven decisions.",
  },
  {
    title: "Seamless automation ",
    description:
      "Automate your email sequences for efficient communication, ensuring timely and relevant interactions with your audience.",
  },
  {
    title: "Personalization at scale",
    description:
      "Tailor each email to the recipient's preferences and behavior, scaling personalization to enhance user engagement.",
  },
  {
    title: "Security measures",
    description:
      "Protect your email communications with comprehensive security protocols, safeguarding your data and your users' privacy.",
  },
];
---

<section>
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
      <div>
        <div>
          <span
            class="text-sm uppercase font-medium tracking-wide text-blue-600"
            >hear me out</span
          >

          <h2
            class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl">
            Top notch company
          </h2>
          <p class="text-slate-500 mt-5">
            Receive dividends bull investment mutual funds rise federal funds
            strategy substantially treasury municipal public index funds.
          </p>
        </div>
        <div class="mt-10">
          <a
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
            title="link to your page"
            aria-label="your label"
            href="/system/overview">
            Apply now &nbsp; &rarr;
          </a>
        </div>
      </div>
      <div class="lg:mt-0 mt-12 lg:ml-auto">
        <img
          src="/images/creditcardTwo.png"
          alt="thumbnail"
          class="drop-shadow-2xl"
        />
      </div>
    </div>
    <ul
      role="list"
      class="grid grid-cols-2 lg:grid-cols-4 gap-4 list-none lg:gap-6 mt-24">
      {
        featuresOne.map((item, index) => (
          <li>
            <div>
              <div class="flex items-center justify-center size-8 text-blue-500 rounded-full bg-slate-100">
                {index + 1}
              </div>
              <p class="mt-5 font-semibold text-purple-900">{item.title}</p>
            </div>
            <p class="mt-6 text-slate-500 text-sm border-l-4 pl-4">
              {item.description}
            </p>
          </li>
        ))
      }
    </ul>
    <div class="mt-24">
      <h2
        class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl lg:text-balance">
        Revolutionizing Email Communication
      </h2>
      <div>
        <p class="text-slate-500 mt-6 lg:text-balance">
          A fresh take on how we send and receive emails in a rapidly evolving
          digital world.
        </p>
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-12 lg:gap-24 items-start md:grid-cols-2 mt-12 lg:mt-24">
      <div>
        <h2
          class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl">
          Premium creditcards
        </h2>
        <p class="text-slate-500 mt-5">
          Your implementation includes relevant deep dive workshops so we can
          understand your requirements and create tailored integration guides
          for your teams to build faster.
        </p>
        <p class="text-slate-500 mt-5">
          LexingtonBilling automates how businesses support B2B payment.
        </p>
        <div class="mt-10">
          <a
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
            title="link to your page"
            aria-label="your label"
            href="/system/overview">
            Explor all pages
          </a>
        </div>
      </div>
      <div class="lg:mt-0 mt-12 h-full">
        <img
          src="/images/creditcardTwo.png"
          alt="thumbnail"
          class="drop-shadow-2xl"
        />
      </div>
    </div>
    <ul
      role="list"
      class="grid grid-cols-2 lg:grid-cols-4 gap-4 list-none lg:gap-6 mt-24">
      {
        featuresTwo.map((item, index) => (
          <li>
            <div>
              <div class="flex items-center justify-center size-8 text-blue-500 rounded-full bg-slate-100">
                {index + 5}
              </div>
              <p class="mt-5 font-semibold text-purple-900">{item.title}</p>
            </div>
            <p class="mt-6 text-slate-500 text-sm border-l-4 pl-4">
              {item.description}
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</section>
