---
// Define the logos data
const logos = [
  "/logos/1.svg",
  "/logos/2.svg",
  "/logos/3.svg",
  "/logos/4.svg",
  "/logos/5.svg",
  "/logos/6.svg",
  // Add more logo paths as needed
];
---

<section class="bg-white">
  <div class="mx-auto max-w-7xl text-center py-24 px-24">
    <div class="grid grid-cols-2 gap-12 md:grid-cols-3 lg:grid-cols-6 mx-auto">
      {
        logos.map((logo, index) => (
          <img

            class="col-span-1 flex justify-center grayscale opacity-50"
            src={logo}
            alt={`Logo ${index + 1}`}
          />
        ))
      }
    </div>
  </div>
</section>
