<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <span class="text-sm uppercase font-medium tracking-wide text-blue-600"
      >No Code Jobs</span
    >
    <h2
      class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl">
      The #1 Platform for Hiring No-Code Developers
    </h2>

    <div
      class="h-full group grid grid-cols-1 gap-3 lg:grid-cols-4 lg:gap-3 mt-12">
      <div class="bg-slate-50 p-8 rounded-2xl">
        <ul
          role="list"
          class="grid grid-cols-1 gap-4 list-none lg:pr-12">
          <li>
            <p class="font-semibold text-purple-900 text-lg lg:text-xl">
              14 Days
            </p>
            <p class="mt-2 text-slate-500 text-sm">
              Average time to hire qualified no-code developers
            </p>
          </li>
          <li>
            <p class="font-semibold text-purple-900 text-lg lg:text-xl">
              92% Success
            </p>
            <p class="mt-2 text-slate-500 text-sm">
              Placement rate for senior no-code roles
            </p>
          </li>
          <li>
            <p class="font-semibold text-purple-900 text-sm">Key Benefits</p>
            <p class="mt-2 text-slate-500 text-sm gap-3 flex items-center">
              <span>-</span>
              Skills Platform
            </p>
            <p class="mt-2 text-slate-500 text-sm gap-3 flex items-center">
              <span>-</span>
              Cultural Fit
            </p>
            <p class="mt-2 text-slate-500 text-sm gap-3 flex items-center">
              <span>-</span>
              Technically Sound
            </p>
          </li>
        </ul>
      </div>
      <div
        class="relative overflow-hidden lg:col-span-3 rounded-2xl h-full bg-blue-600 p-8 z-50 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8">
        <div
          class="absolute inset-0 opacity-70 mix-blend-multiply saturate-0 filter">
          <img
            src="https://cdn.prod.website-files.com/665f4345605da447a33148dc/667ab4062d704b73de89f38c_Home%2C%20Generic.webp"
            alt=""
            class="h-full w-full object-cover"
          />
        </div>
        <div class="relative lg:col-span-1 justify-between flex flex-col">
          <img
            class="size-16 rounded-xl"
            src="/images/g.jpg"
            alt=""
          />
          <p class="font-medium text-white lg:text-balance lg:text-lg">
            "No Code Jobs helped us find an exceptional senior Bubble developer within just one week and within budget. I can't recommend them enough."
          </p>
          <p class="font-medium text-white lg:text-balance lg:text-base">
            Gabriel Francoeur <br> Founder of Scaling Process
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
