<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-36">
    <div class="mx-auto">
      <div class="lg:text-center">
        <span class="text-sm uppercase font-medium tracking-wide text-blue-600"
          >testimonials</span
        >
        <h2
          class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl">
          Our beloved customers
        </h2>
      </div>
      <div class="relative mt-12">
        <div class="absolute inset-x-0 bottom-0 h-1/2 bg-slate-100"></div>
        <div class="mx-auto max-w-7xl">
          <div class="relative shadow-xl overflow-hidden rounded-3xl">
            <div class="absolute inset-0">
              <img
                class="h-full w-full object-cover hidden lg:block"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="People working on laptops"
              />
              <div
                class="absolute inset-0 bg-gradient-to-r from-purple-900 via-purple-600 to-purple-400 mix-blend-multiply">
              </div>
            </div>
            <div
              class="relative px-4 py-16 sm:px-6 lg:p-20 grid grid-cols-1 lg:grid-cols-2 items-center">
              <div class="lg:max-w-xs">
                <p class="text-white text-sm mt-5">
                  "Integrating with LexingtonElements was surprisingly easy.
                  Having Lexingtonhandle localization, formatting, and
                  automatically displaying relevant local payment."
                </p>
                <div class="min-w-0 flex-1 mt-6">
                  <span
                    class="absolute inset-0"
                    aria-hidden="true"
                  ></span>
                  <p class="text-sm text-slate-400">
                    Amrit Nagi, Founder of Tailwind Toolbox
                  </p>
                </div>
              </div>
              <div class="lg:ml-auto mt-6">
               <img src="/logos/3.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
