<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <span class="text-sm uppercase font-medium tracking-wide text-blue-600"
      >testiomonials</span
    >
    <h2
      class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl">
      Our customers and their experiences
    </h2>

    <div
      class="h-full group grid grid-cols-1 gap-3 lg:grid-cols-4 lg:gap-3 mt-12">
      <div class="bg-slate-50 p-8 rounded-2xl">
        <ul
          role="list"
          class="grid grid-cols-1 gap-4 list-none lg:pr-12">
          <li>
            <p class="font-semibold text-purple-900 text-lg lg:text-xl">
              Weeks to minutes
            </p>
            <p class="mt-2 text-slate-500 text-sm">
              Reduction in customer onboarding time
            </p>
          </li>
          <li>
            <p class="font-semibold text-purple-900 text-lg lg:text-xl">
              2-5x faster
            </p>
            <p class="mt-2 text-slate-500 text-sm">
              Fast reconciliation with a single report
            </p>
          </li>
          <li>
            <p class="font-semibold text-purple-900 text-sm">Products used</p>
            <p class="mt-2 text-slate-500 text-sm gap-3 flex items-center">
              <span>⏤</span>
              Deployments
            </p>
            <p class="mt-2 text-slate-500 text-sm gap-3 flex items-center">
              <span>⏤</span>
              Analytics
            </p>
          </li>
        </ul>
      </div>
      <div
        class="relative overflow-hidden lg:col-span-3 rounded-2xl h-full bg-blue-600 p-8 z-50 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8">
        <div
          class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
          <img
            src="https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            alt=""
            class="h-full w-full object-cover"
          />
        </div>
        <div class="relative lg:col-span-1 justify-between flex flex-col">
          <img
            class="size-12"
            src="/images/integrations/notion.svg"
            alt=""
          />
          <p class="font-medium text-white lg:text-balance lg:text-lg">
            Spaziobianco Public rollover performance exchange traded funds junk
            bonds passively NASDAQ bills upswing retirement corporate market
            exposure.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
