---
// src/data/testimonialsData.js
export const testimonialsData = [
  {
    quote:
      "The service exceeded my expectations. The staff made extra efforts to fulfill my requirements",
    author: "David Gutierrez",
    role: "Founder of @nocodegallery",
    imageUrl:
      "https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80",
  },
  {
    quote:
      "Their unparalleled attention to detail and dedication to excellence is why I'd vouch for this company.",
    author: "Alonso",
    role: "Entrepreneur",
    imageUrl:
      "https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80",
  },
  {
    quote:
      "This team transformed our digital strategy, and the results were phenomenal. Truly a class apart.",
    author: "Jasmine Lee",
    role: "Digital Marketing Manager",
    imageUrl:
      "https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80",
  },
  {
    quote:
      "A game-changer for our online presence. Their expertise and innovative solutions have skyrocketed our engagement rates.",
    author: "Marcus Antonius",
    role: "CEO of InnovateTech",
    imageUrl:
      "https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80",
  },
  {
    quote:
      "Outstanding support and services that propelled our project to success much quicker than anticipated.",
    author: "Emily R.",
    role: "Project Manager",
    imageUrl: "https://alfred.lexingtonthemes.com/avatar1.png",
  },
  {
    quote:
      "The creativity and innovation in their approach are unmatched. Highly impressed with their work!",
    author: "Omar Farooq",
    role: "Tech Startup Founder",
    imageUrl: "https://alfred.lexingtonthemes.com/avatar3.png",
  },
];
---

<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-end pb-6 border-b gap-24">
      <div>
        <span class="text-sm uppercase font-medium tracking-wide text-blue-600"
          >testiomonials</span
        >
        <h2
          class="text-purple-900 font-semibold tracking-tight mt-6 text-3xl lg:text-balance">
          Spazio Bianco is love around the world.
        </h2>
      </div>
      <p class="text-slate-500 text-base lg:text-balance">
        Snowflake is a cloud data platform that enables data storage,
        processing, and analytics solutions for businesses.
      </p>
    </div>
    <div class="h-full group grid grid-cols-1 gap-3 lg:grid-cols-2 mt-12">
      <div>
        <ul
          role="list"
          class="grid grid-cols-1 gap-4 list-none lg:pr-12">
          <li class="space-y-6">
            <div>
              <p class="font-semibold text-purple-900">Challenge</p>
              <p class="text-slate-500 text-sm">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed. Receive
                bondholders called capitalization investment grade bonds bills
                management district stocks. Potential funds consulting expenses.
              </p>
            </div>
            <div class="space-y-3">
              <p class="font-semibold text-purple-900 mt-6">Solution</p>
              <p class="text-slate-500 text-sm">
                Debt bills lucrative capitalization municipal bonds government
                401k bear bull credit corporate bonds called NYSE finance.
                Managed prices bondholders federal risk NASDAQ hedge fund
                expenses municipal bonds management.
              </p>
            </div>
          </li>
          <li>
            <p class="font-semibold text-purple-900 mt-6">Products used</p>
            <div class="grid grid-cols-1 lg:grid-cols-2 justify-between">
              <div
                class="mt-2 text-slate-500 text-sm inline-flex items-center font-medium">
                ⏤ Deployments
              </div>
              <div
                class="mt-2 text-slate-500 text-sm inline-flex items-center font-medium">
                ⏤ Analytics
              </div>
              <div
                class="mt-2 text-slate-500 text-sm inline-flex items-center font-medium">
                ⏤ Payments
              </div>
              <div
                class="mt-2 text-slate-500 text-sm inline-flex items-center font-medium">
                ⏤ Checkouts
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <div
          class="relative overflow-hidden rounded-xl bg-purple-400 p-8 z-50 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8">
          <div
            class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
            <img
              src="https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
              alt=""
              class="h-full w-full object-cover"
            />
          </div>
          <div class="relative lg:col-span-1">
            <img
              class="grayscale"
              src="/logos/3.svg"
              alt=""
            />
            <blockquote class="mt-6 text-white text-sm lg:mt-24">
              <p class="font-medium">
                Spaziobianco Public rollover performance exchange traded funds
                junk bonds passively NASDAQ bills upswing retirement corporate
                market exposure.
              </p>
              <p class="mt-6">
                <a
                  title="link to your page"
                  aria-label="your label"
                  href=""
                  class="text-blue-500 hover:text-white inline-flex items-center group">
                  Read case study
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="size-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </a>
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
