---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>

  <section>
    <div class="px-8 max-w-7xl lg:px-24 mx-auto py-12">
      <div
        class="relative mx-auto py-2 grid grid-cols-1 items-start lg:grid-cols-6 w-full">
        <div class="mt-3 lg:mt-0">
          <p class="text-xl text-purple-900 uppercase font-bold">
            {frontmatter.pubDate.toString().slice(8, 15)}.
          </p>
        </div>
        <div class="w-full lg:col-span-5">
          <p
            class="text-sm text-slate-500 lg:text-balance">
            limited company" or "corporation") AKA Unwrapped, a limited
            liability company organized under the laws of Finland and the
            client, whether personally or on behalf of an entity (“Client”),
            with regard to access and use of spaziobianco. website: https:
            www.spaziobianco..studio (the “Website”) and any other media form,
            channel, mobile website or mobile application related, linked or
            otherwise connected thereto.
        </p>
          <p class="font-semibold text-purple-900 mt-12">
            <a
              title="link to your page"
              aria-label="your label"
              href="/contact">
              Contact us</a
            >
            <span class="font-normal">
              with any questions about these agreements.</span
            >
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-blue-500">
    <div class="px-8 max-w-7xl lg:px-24 py-4 mx-auto">
      <div
        class="relative mx-auto gap-3 grid grid-cols-1 lg:grid-cols-6 w-full">
        <div class="w-full lg:col-start-2 lg:col-span-5">
          <p class="uppercase text-white font-bold text-sm">
            {frontmatter.page}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-slate-50">
    <div class="px-8 max-w-7xl lg:px-24 py-6 mx-auto">
      <div
        class="relative mx-auto gap-3 grid grid-cols-1 lg:grid-cols-6 w-full">
        <div
          class="w-full lg:col-start-2 lg:col-span-5 space-y-12 divide-y divide-slate-400 py-12">
          <div class="prose-styles">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
