’<section>
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 lg:py-24 items-center relative">
    <p class="text-purple-900 font-semibold leading-none text-5xl">
      Style guide
    </p>
    <div>
      <div class="py-3 mt-12">
        <div class="relative">
          <div
            class="absolute inset-0 flex items-center"
            aria-hidden="true">
            <div class="w-full border-t"></div>
          </div>
          <div class="relative flex justify-start">
            <span class="pr-3 bg-white text-xl purple-500"
              >Typography
              <span class="text-sm text-slate-500"
                >· Inter custom & Jetbrains Mono</span
              >
            </span>
          </div>
        </div>
      </div>
      <div class="py-3 space-y-6">
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-purple-900">Header 1</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tight"
              >Header 1
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-slate-500">Header 2</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-purple-900 font-semibold text-3xl lg:text-6xl tracking-tight"
              >Header 2
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-slate-500">Header 3</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-purple-900 font-semibold text-2xl lg:text-5xl tracking-tight"
              >Header 3
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-slate-500">Header 4</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-purple-900 font-semibold text-xl lg:text-4xl tracking-tight"
              >Header 4
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-slate-500">Header 5</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-purple-900 font-semibold text-lg lg:text-3xl tracking-tight"
              >Header 5
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-slate-500">Header 6</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-purple-900 font-semibold text-base lg:text-2xl tracking-tight"
              >Header 6
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-slate-500">Link</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-sm text-blue-500 font-semibold hover:text-purple-900 underlined"
              >Link text
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-slate-500">Subtitle</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-lg lg:text-2xl text-purple-900"
              >Subtitle text
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-slate-500">Paragraph</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-slate-500"
              >I am so happy, my dear friend, so absorbed in the exquisite
              sense of mere tranquil existence, that I neglect my talents.
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-slate-500">Caption</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-xs text-slate-500"
              >Picture about something
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div>
            <span class="text-slate-500">List</span>
          </div>
          <div class="col-span-2 lg:col-span-3">
            <ul
              class="list-decimal list-inside space-y-3 mt-6 text-slate-500"
              role="list">
              <li>Next.js and/or Nuxt.js</li>
              <li>CReact Native .</li>
              <li>AWS and/or Firebase</li>
              <li>Familiarity with noSQL databases</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="py-3 mt-24">
      <div class="relative">
        <div
          class="absolute inset-0 flex items-center"
          aria-hidden="true">
          <div class="w-full border-t"></div>
        </div>
        <div class="relative flex justify-start">
          <span class="pr-3 bg-white text-xl text-purple-900"
            >Main color palette
          </span>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 mt-12 gap-2 lg:grid-cols-4">
      <div class="space-y-2">
        <div class="lg:justify-center p-6 bg-white border rounded-lg"></div>
      </div>
      <div>
        <div class="lg:justify-center p-6 rounded-t-lg bg-purple-50"></div>
        <div class="lg:justify-center p-6 bg-purple-100"></div>
        <div class="lg:justify-center p-6 bg-purple-200"></div>
        <div class="lg:justify-center p-6 bg-purple-300"></div>
        <div class="lg:justify-center p-6 bg-purple-400"></div>
        <div class="lg:justify-center p-6 bg-purple-500"></div>
        <div class="lg:justify-center p-6 bg-purple-600"></div>
        <div class="lg:justify-center p-6 bg-purple-700"></div>
        <div class="lg:justify-center p-6 bg-purple-800"></div>
        <div class="lg:justify-center p-6 rounded-b-lg bg-purple-900"></div>
      </div>
      <div>
        <div class="lg:justify-center p-6 rounded-t-lg bg-blue-50"></div>
        <div class="lg:justify-center p-6 bg-blue-100"></div>
        <div class="lg:justify-center p-6 bg-blue-200"></div>
        <div class="lg:justify-center p-6 bg-blue-300"></div>
        <div class="lg:justify-center p-6 bg-blue-400"></div>
        <div class="lg:justify-center p-6 bg-blue-500"></div>
        <div class="lg:justify-center p-6 bg-blue-600"></div>
        <div class="lg:justify-center p-6 bg-blue-700"></div>
        <div class="lg:justify-center p-6 bg-blue-800"></div>
        <div class="lg:justify-center p-6 rounded-b-lg bg-blue-900"></div>
      </div>
      <div>
        <div class="lg:justify-center p-6 rounded-t-lg bg-slate-50"></div>
        <div class="lg:justify-center p-6 bg-slate-100"></div>
        <div class="lg:justify-center p-6 bg-slate-200"></div>
        <div class="lg:justify-center p-6 bg-slate-300"></div>
        <div class="lg:justify-center p-6 bg-slate-400"></div>
        <div class="lg:justify-center p-6 bg-slate-500"></div>
        <div class="lg:justify-center p-6 bg-slate-600"></div>
        <div class="lg:justify-center p-6 bg-slate-700"></div>
        <div class="lg:justify-center p-6 bg-slate-800"></div>
        <div class="lg:justify-center p-6 rounded-b-lg bg-slate-900"></div>
      </div>
    </div>

    <div class="py-3 mt-24">
      <div class="relative">
        <div
          class="absolute inset-0 flex items-center"
          aria-hidden="true">
          <div class="w-full border-t"></div>
        </div>
        <div class="relative flex justify-start">
          <span class="pr-3 bg-white text-xl text-purple-900">Buttons</span>
        </div>
      </div>
    </div>
    <div class="flex felx-wrap py-3 gap-3">
      <a
        class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
        title="link to your page"
        aria-label="your label"
        href="/system/overview">
        Primary button
      </a>
      <a
        class="text-blue-600 items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-100 hover:bg-blue-50 w-auto"
        aria-label="#"
        title="link to your page"
        aria-label="your label"
        href="/register"
        >Secondary button</a
      >
    </div>

  </div>
</section>
