<section>
  <div class="flex justify-center lg:h-svh items-center">
    <div class="w-full mx-auto max-w-md md:max-w-sm md:px-0 md:w-96 px-8 py-24">
      <div class="text-center">
        <h2 class="text-purple-900 font-semibold text-4xl tracking-tight">
          Log in
        </h2>
        <p class="text-slate-500 mt-4 text-balance">
          Log in to access all the features of the site.
        </p>
      </div>
      <form class="mt-12">
        <div class="space-y-6">
          <div>
            <label
              for="email"
              class="sr-only"
              >Your email</label
            >
            <input
              type="email"
              id="email"
              class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
              placeholder="email@example.com"
              autocomplete="off"
              required
            />
          </div>
          <div>
            <label
              for="password"
              class="sr-only"
              >Password</label
            >
            <input
              type="password"
              id="password"
              class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
              placeholder="Type password here..."
              required
            />
          </div>
          <div>
            <label
              for="confirm_password"
              class="sr-only"
              >Confirm Password</label
            >
            <input
              type="password"
              id="confirm_password"
              class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
              placeholder="Confirm password here..."
              required
            />
          </div>
          <div>
            <button
              class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-full"
              type="submit">
              Log in
            </button>
          </div>
          <div class="flex justify-between items-center">
            <p class=" font-medium leading-tight text-salte-500">
              No password?
            </p>
            <a
              class="text-blue-600 hover:text-purple-900 "
              title="link to your page"
              aria-label="your label"
              href="/signup">
              Sign up instead of logging in here.
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
