<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <div class="grid grid-cols-1 items-end md:grid-cols-2">
      <div class="lg:pr-24 md:pr-12">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">Submit</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold mt-6 text-4xl lg:text-6xl tracking-tight">
          Contact our sales team
        </h2>
        <p class="text-slate-500 mt-5">
          Receive dividends bull investment mutual funds rise federal funds
          strategy substantially treasury municipal public index funds.
        </p>

        <ul
          role="list"
          class="list-none mt-12">
          <li>
            <div>
              <p class="mt-5 font-semibold text-purple-900">
                Prebuilt integrations
              </p>
            </div>
            <div class="mt-5">
              <ul
                role="list"
                class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                <li class="flex items-start">
                  —
                  <span class="ml-4"> Embeddable checkout</span>
                </li>
                <li class="flex items-start">
                  —
                  <span class="ml-4"> Custom UI toolkit</span>
                </li>
                <li class="flex items-start">
                  —
                  <span class="ml-4"> Invoice support</span>
                </li>
                <li class="flex items-start">
                  —
                  <span class="ml-4"> Payment optimization</span>
                </li>
                <li class="flex items-start">
                  —
                  <span class="ml-4">Data migration</span>
                </li>
                <li class="flex items-start">
                  —
                  <span class="ml-4"> Product monetization strategy</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <form
        class="lg:mt-0 mt-12 md:pl-12 md:border-l lg:pl-24 border-slate-200">
        <div class="space-y-2">
          <div>
            <label
              for="full_name"
              class="sr-only"
              >Full Name</label
            >
            <input
              type="text"
              id="full_name"
              class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
              placeholder="Full Name"
              required
            />
          </div>

          <div>
            <label
              for="work_email"
              class="sr-only"
              >Work Email Address</label
            >
            <input
              type="email"
              id="work_email"
              class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
              placeholder="Work Email"
              required
            />
          </div>

          <div>
            <label
              for="work_phone"
              class="sr-only"
              >Work Phone</label
            >
            <input
              type="tel"
              id="work_phone"
              class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
              placeholder="Work Phone"
            />
          </div>

          <div>
            <label
              for="work_website"
              class="sr-only"
              >Work Website Address</label
            >
            <input
              type="url"
              id="work_website"
              class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
              placeholder="Work website address"
            />
          </div>

          <div>
            <label
              for="project_details"
              class="sr-only"
              >Project Details</label
            >
            <textarea
              id="project_details"
              class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
              placeholder="What are you working on?"
              rows="4"
              required
            ></textarea>
          </div>

          <div class="col-span-full">
            <button
              class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-full"
              type="submit">
              Submit your request
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
